.App {
  background: #c0ded9;
  height: 700px;
  padding: 30px;

}


.todo-list {
  background: #8ec3eb;
  border-radius: 4px;
  min-width: 200px;
  /* max-width: 1200px; */
  align-items:center;
  margin-left: auto;
  padding: 10px;
}

.todo {
  align-items: center;
  background: rgb(245, 245, 245);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display:flex;
  font-style:unset;
  font-size: 12px;
  justify-content: space-between;
  margin-top:10px;
  margin-bottom: 16px;
  margin-right:30px;
  margin-left: 25px;
  padding: 3px 12px;
}
